html{
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100%;
}

body{
  overflow-x: hidden;
  position: relative;
}
* {
  overflow: visible;
}

::-webkit-scrollbar { width: 5px; height: 5px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background: 666;}
::-webkit-scrollbar-thumb { height: 30px; background-color: #fafafa; border-radius: 5px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;}

.header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  background-color: #424242;
  min-height: 68px;
}

.wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #606060;
}

.one {
    overflow: auto;
    width: 80%;
    direction: rtl;
    background-color: #606060;
}

.two {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #606060;
}

.three {
  margin-top: 50px;
  margin-right: 19px;
  background-color: #606060;
  width: 20%;
}

.text-container {
  max-height: 530px;
  overflow: auto;
  margin-bottom: 50px;
}

.save-info {
  max-width: 176px;
  padding: 25px;
  background: rgba(196,196,196, 0.4);
  border-radius: 20px;
  font-size: 12px;
  line-height: 160.9%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.js--item-active {
  cursor: pointer;
}

.infotext{
   font-size: 14px;
   line-height: 160.9%;
   letter-spacing: 0.01em;
   color: #FFFFFF;

}
.frame {
    border: 1.5px solid #FFFFFF;
    width: 70%;
    height: 747px;
    margin-bottom: 50px;
}

.save-btn {
  transition: all .2s ease;
  background-color: #424242;
  border-radius: 50%;
  padding: 16px;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
}

.save-btn:hover {
  transform: scale(1.05);
}

.save-btn:active {
  transform: scale(0.9);
}

.d-vidjet {
  position: fixed;
  right: 0;
  bottom: 100px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  z-index: 10
}

.toolbar {
  width: 26%;
  margin-left: 70px;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #ffffff;
}
.workspace {
  width: 50%;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
.info {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #ffffff;
}

.line-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.dropdown {
    width: 313px;
    height: 37px;
    margin-left: 50px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    border-radius: 0%;
}

.dropdown select {
  background-color: rgb(203, 203, 203);
  color: rgb(0, 0, 0);
  padding: 12px;
  width: 313px;
  height: 44px;
  border: 1px solid black;
  font-size: 14px;
  line-height: 16px;
}
.artwork1{
  margin-bottom: 17px;

}

.artwork6{
  margin-top: 17px;
}

.artwork7{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hello{
 margin-right: 30%;
 max-width: 209px;
 padding: 25px;
 margin-top: 126px;
 background: rgba(196,196,196, 0.4);
 border-radius: 30px;
 font-size: 12px;
 line-height: 145.4%;
 text-align: center;
 letter-spacing: 0.02em;
 color: #FFFFFF;
}

.art-body {
  margin-top: 50px;
  width: 100%;
  margin-right: auto;
/*  max-height: 750px;
  overflow: auto;*/
  padding-left: 20px;
  padding-right: 20px;
}

.art-item {
  max-width: 338px;
  margin-left: 50px;

}

.art-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.art-column-1 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}

.art-column-2 {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}

.one .art-slider-list ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-right: 130px;
}

.one .art-slider-list li {
  list-style: none;
}

.one .art-slider-list button {
  list-style: none;
}

.slick-dots li button {
    margin-left: 5px;
    padding: 0;
    margin-right: 5px;
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 0;
    border-radius: 50%;
    background-color: #C4C4C4;
    text-decoration: none;
    outline: none;
}

.slick-dots li button:hover {
  cursor: pointer;
}

.slick-dots .slick-active button {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.left-panel {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  min-height: 600px;
}

.top-stat {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.intention {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.game {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.freedom {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.artwork8 {
  margin-top: 30px;
}

.artwork10 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.artwork11 {
  width: 300px;
  height: 200px;
  padding-top: 20px;
}

.artwork12 {
  width: 160px;
  height: 230px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.artwork13 {
  
  width: 148px;
  height: 202px;
 left: 240px;
 top: 170px;
}

.artwork14{
  width: 160px;
}

.artwork15 {
  width: 300px;
  height: 200px;
  padding-top: 20px;
}

.intention {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px; 
}



.game{
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 21 px;
  line-height: 18px;
  padding-right: 180px;
  padding-top: 10px;
  
}

.freedom1 {
  height: 20px;
  left: 255px;
  top: 197px;
  
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  text-align: center;
}

.action {
 padding-right: 200px;
 padding-top: 40px;
  
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  
  color: #000000;
  
  transform: rotate(6.34deg);
}
.reasoning  {

  
  
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

}

.exploration {
  font-weight: 500;
 font-size: 28px;
 line-height: 32px;
 text-align: center;
}

.mb-10 {
  margin-bottom: 10px;
}

.bg-white {
  background-color: #fafafa;
}

.two-header {
  background: #424242;
  border-top: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
  width: 70%;
  height: 27px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;
}

.two-header-circle {
  margin-right: 26px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.two-header-circle:nth-child(3) {
  background: #C4C4C4;
}
.two-header-circle:nth-child(2) {
  background: #34C84A;
}
.two-header-circle:nth-child(1) {
  width: 7px;
  height: 7px;
  border: 1px solid #FFFFFF;
}


.mobile-body {
  
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 41px;
  text-align: center;
}